.aboutYou {
  background-color: $backgroundAll;
  display: flex;
  justify-content: center;
 
  &_container h1 {
    padding-top: 150px;
    padding-bottom: 20px;
    color: $letter-color-one;
    font-family: $font-one-bold;
  }

  &_container {
    .content_forms {
      .input {
        margin: 50px 0px;
        position: relative;
      }

      .input input {
        margin-top: 10px;
        font-family: $font-one-semibold;
      }

      .input label {
        font-family: $font-one;
        position: absolute;
        bottom: 55px;
      }
    }

    .content_dropdown {
      margin: 60px 0px;

      position: relative;
      width: 100%;
      background: $background-color-inputs;
      height: $height-inputs;
      max-width: $max-width-inputs;
      font-family: $font-one-semibold;

      .img img {
        width: 8%;
        position: absolute;
        right: 10px;
        top: 20px;
      }
    }
    .label {
      font-family: $font-one;
      position: absolute;
      bottom: 55px;
      color: $color-label;
    }

    .info-dropdown {
      padding: 15px 10px;
      color: $letter-color-one;
    }

    .button_one {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

@media (min-width: 999px) {
  .aboutYou {
    display: block;
    height: 100vh;

    &_container h1 {
      padding-top: 100px;
      text-align: center;
      padding-bottom: 100px;
    }

    &_container {
      .content_forms {
        display: flex;
        justify-content: space-around;

        .button_one {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }

      .content_forms > * {
        width: 400px;
      }
    }
  }
}
