//---------------------Buttos--------------------------//
$max-width-buttons: 300px;
$height-buttons: 50px;
$Background-Color-button-one: #fa1162;
$Background-Color-button-two: black;
$font-size-buttons: 20px;

//---------------------LetterColors--------------------------//
$letter-color-one: white;
$letter-color-two: #b0a4a4;

//---------------------icons--------------------------//
$color-background-icons: gray;

//---------------------BackgroundColor--------------------------//
$backgroundAll: #24262b;
$backgroun-color-footer: #24262b;

//---------------------Inputs--------------------------//
$max-width-inputs: 400px;
$height-inputs: 50px;
$font-size-inputs: 20px;
$background-color-inputs: #616266;
$color-border-input: #747578;
$color-label: #f9f9f9;

//---------------------selecInput--------------------------//
$background-select-input: #45464b;

//---------------------fonts--------------------------//
$font-one: sans-mediun;
$font-one-bold: sans-bold;
$font-one-regular: sans-regular;
$font-one-semibold: sans-semibold;
